<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LisTrakUserName" value="tsallese" />
    <add key="LisTrakPassword" value="Skipjacks1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IntegrationServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="IntegrationServiceSoap1" />
        <binding name="DefaultEndpoint" />
        <binding name="DefaultEndpoint1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.listrak.com/v31/IntegrationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap"
        contract="LisTrakClient.IntegrationServiceSoap" name="IntegrationServiceSoap" />
      <endpoint address="http://carmaws.wwpti.com:8000/ConsumerService.svc"
        binding="basicHttpBinding" bindingConfiguration="DefaultEndpoint"
        contract="ConsumerServiceClient.ConsumerServiceContract" name="DefaultEndpoint" />
    </client>
  </system.serviceModel>
</configuration>